name: JBoss Parent CI Build

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - 'NOTICE'
      - 'README*'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: build

    steps:
      - name: Check out project
        uses: actions/checkout@v4
        with:
          path: jboss-parent-pom

      - name: Set up the JDKs
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          architecture: x64
          java-version: |
            11
            17

      - name: Install the parent POM snapshot
        run: |
          cd jboss-parent-pom
          mvn -B -ntp install

      - name: Check out WildFly Common
        uses: actions/checkout@v4
        with:
          repository: wildfly/wildfly-common
          path: wildfly-common

      - name: Test WildFly Common with updated parent
        run: |
          cd wildfly-common
          mvn -B -ntp versions:update-parent -DallowSnapshots=true -N
          git diff pom.xml
          mvn -B -ntp install -Djava11.home=${{env.JAVA_HOME_11_X64}}

      - name: Check out WildFly Maven Plugin
        uses: actions/checkout@v4
        with:
          repository: wildfly/wildfly-maven-plugin
          path: wildfly-maven-plugin

      - name: Test WildFly Maven Plugin with updated parent
        run: |
          cd wildfly-maven-plugin
          mvn -B -ntp versions:update-parent -DallowSnapshots=true -N
          git diff pom.xml
          mvn -B -ntp install -Djava11.home=${{env.JAVA_HOME_11_X64}}

      - name: Check out JBoss Modules
        uses: actions/checkout@v4
        with:
          repository: jboss-modules/jboss-modules
          path: jboss-modules

      - name: Test JBoss Modules with updated parent
        run: |
          cd jboss-modules
          mvn -B -ntp versions:update-parent -DallowSnapshots=true -N
          git diff pom.xml
          mvn -B -ntp install -Djava11.home=${{env.JAVA_HOME_11_X64}}

      - name: Check out JBoss Marshalling
        uses: actions/checkout@v4
        with:
          repository: jboss-remoting/jboss-marshalling
          path: jboss-marshalling

      - name: Test JBoss Marshalling with updated parent
        run: |
          cd jboss-marshalling
          mvn -B -ntp versions:update-parent -DallowSnapshots=true -N
          git diff pom.xml
          mvn -B -ntp install -Djava11.home=${{env.JAVA_HOME_11_X64}}

      - name: Check out JBoss Logging Dev Tools
        uses: actions/checkout@v4
        with:
          repository: jboss-logging/logging-dev-tools
          path: logging-dev-tools

      - name: Prepare for testing logging projects with updated parent
        run: |
          cd logging-dev-tools
          mvn -B -ntp versions:update-parent -DallowSnapshots=true -N
          git diff pom.xml
          mvn -B -ntp install -Djava11.home=${{env.JAVA_HOME_11_X64}}

      - name: Check out JBoss LogManager
        uses: actions/checkout@v4
        with:
          repository: jboss-logging/jboss-logmanager
          path: jboss-logmanager

      - name: Test JBoss LogManager with updated parents
        run: |
          cd jboss-logmanager
          mvn -B -ntp versions:update-parent -DallowSnapshots=true -N
          git diff pom.xml
          mvn -B -ntp install -Djava11.home=${{env.JAVA_HOME_11_X64}}

      - name: Check out JBoss Logging
        uses: actions/checkout@v4
        with:
          repository: jboss-logging/jboss-logging
          path: jboss-logging

      - name: Test JBoss Logging with updated parents
        run: |
          cd jboss-logging
          mvn -B -ntp versions:update-parent -DallowSnapshots=true -N
          git diff pom.xml
          mvn -B -ntp install -Djava11.home=${{env.JAVA_HOME_11_X64}}

      - name: Check out JBoss Logging Tools
        uses: actions/checkout@v4
        with:
          repository: jboss-logging/jboss-logging-tools
          path: jboss-logging-tools

      - name: Test JBoss Logging Tools with updated parents
        run: |
          cd jboss-logging-tools
          mvn -B -ntp versions:update-parent -DallowSnapshots=true -N
          git diff pom.xml
          mvn -B -ntp install -Djava11.home=${{env.JAVA_HOME_11_X64}}

      - name: Check out Log4j2 to JBoss LogManager bridge
        uses: actions/checkout@v4
        with:
          repository: jboss-logging/log4j2-jboss-logmanager
          path: log4j2-jboss-logmanager

      - name: Test Log4j2 to JBoss LogManager bridge with updated parents
        run: |
          cd log4j2-jboss-logmanager
          mvn -B -ntp versions:update-parent -DallowSnapshots=true -N
          git diff pom.xml
          mvn -B -ntp install -Djava11.home=${{env.JAVA_HOME_11_X64}}
